@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100,200,300,400,500,600&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root{
	--orange:#ffa067;
	--purple:#5843be;
	--red:#fe7066;
	--borderRadius: 10px;
	--border:0.5px solid lightgrey;

}

body, html{
	height: 100vh;
}

#container{
	width: 100vw;
	height: 100%;
	display: grid;
	grid-template-columns:  1fr 6fr 3fr;
	grid-template-areas: 

	"n m p";

	
}

/*Nav styles*/
.nav{
	background-color: #f1f3f6;
	display: grid;
	grid-area: n;
	grid-template-rows: repeat(8, 1fr);
	place-items: center;
}

#logo{
	grid-row: 1 / 3;
}

#logo p{

	color: var(--red);
	font-size: 2em;
	font-weight: bold;
	width: 70px;
	height: 70px;
	box-shadow: 

	5px 5px 8px rgba(0,0,0,0.2),
	-5px -5px 8px rgba(255, 255, 255, 0.6),
	inset 3px 3px 4px rgba(255, 255, 255, 0.8),
	inset -3px -3px 4px rgba(0,0,0,0.2)
	;

	display: flex;
	justify-content: center;
	align-items: center;
}
.btn{
	width: 45px;
	height: 45px;
	opacity: 0.4;
	padding: 10px;

}
.filter{
		grid-row: 3 / 4;
}
.dashboard{
		grid-row: 4 / 5;
}
.profiles{
		grid-row: 5 / 6;
}
.stats{
		grid-row: 6 / 7;
}
.active{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 
	inset -3px -3px 4px rgba(255,255,255,0.8),
	inset 3px 3px 10px rgba(0,0,0,0.4);
}


.title{
	font-weight: 500;
	color: #222222;
}

.subTitle{

	font-weight: 400;
	font-size: 0.9em;
	color: #b2c2d1;
}

.largeTitle{

	font-size: 2em;
	font-weight: 500;
}
/*Main styles*/
.main{
	padding: 0px 100px;
	grid-area: m;
	grid-template-rows: 1fr 1fr auto 1fr;
}
.main h2{
	color: #222222;
	font-size: 3.4em;
	letter-spacing: 0.3px;
	margin-top: 30px;
	place-self: end start;
	margin-bottom: 20px;
}

section.top{
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
	column-gap: 25px;
	align-content: start;
	margin-bottom: 20px;
}
.exam{
	background-color: var(--purple);
	border-radius: var(--borderRadius);
	color: #fff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.test{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.test a{
	color: #fff;
}

.todo{

	border-radius: var(--borderRadius);
	border: 1px solid gray;
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.todo i{
	font-size: 1.3em;
}
.todoTitle{
	font-weight: 500;
}
.todosub{
	font-weight: 300;
}
.homework{
	background-color: #ffede6;
	color: var(--orange);
}
.reading{
	background-color: #f6f4ff;
	color: var(--purple);
}

section.middle{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 20px;
}

section.middle .group{
	box-shadow: 4px 6px 20px lightgrey;
	border-radius: var(--borderRadius);
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 350px;
}

.groupHeader{
	display: flex;
	justify-content: space-between;
}
.groupHomework{
	background-color: var(--orange);
	color: #fff;
	padding: 20px;
	border-radius: var(--borderRadius);
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 150px;
}
.groupHomework p, .groupHomework span{
	color: #fff;
}
.groupFooter{

	display: flex;
	justify-content: space-between;
}	

.flagProgress{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	padding: 40px 80px;
}

.flagProgress img{
	padding: 7px;
	box-shadow: 4px 6px 20px lightgrey;
	border-radius: 12px;
}

progress{
	border: none;
	height: 8px;
}

progress::-webkit-progress-value{
	background-color: var(--orange);
	border-radius: 8px;
}

progress::-webkit-progress-bar{
	background-color: whitesmoke;
	border-radius: 8px;
}

section.bottom{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 25px;
	align-items: center;
}

.bot{
	height: 100px;
	width: 100%;
	border: var(--border);
	border-radius: var(--borderRadius);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.bot > div{
	display: flex;
	flex-basis: 50%;
	align-items: center;
	justify-content: space-around;
}

.bot .icon-circle{
	box-shadow: 4px 6px 20px lightgrey;
	padding: 15px;
	border-radius: 50%;
	font-size: 1.1em;
}

.bot .fa-pencil-alt{
	color: var(--purple);
}

.bot .fa-spell-check{
	color: var(--orange);
}

/*profile*/
.profile{
	background-color: #f9fafb;
	padding: 0px 100px;
	grid-area: p;
	display: grid;
	grid-template-rows: 30% 15% 55%;
}
.pic{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pic img{
	width: 110px;
	border-radius: 50%;
}

.pic img, .pic .largeTitle, .pic .subTitle{
	margin: 5px 0px;

}
.adBox{
	border: var(--border);
	border-radius: var(--borderRadius);
	display: flex;
	justify-content: space-around;
	color: red;
	align-items: center;
	padding: 20px;
}

.ad i{
	border-radius: var(--borderRadius);
	padding: 12px 15px;
	box-shadow: 1px 1px 2px lightgrey;
	color: var(--orange);
}

.progress{
	display: flex;
	flex-direction: column;

	justify-content: space-evenly;
}

.progressBox{
	height: 100px;
	width: 100%;
	border: var(--border);
	border-radius: var(--borderRadius);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.grammar .percent{
	color: var(--purple);
	font-weight: 500;
	font-size: 1.4em;

}

.dictionary .percent{
	color: var(--orange);
	font-weight: 500;
	font-size: 1.4em;
	
}

.reading .percent{
	color: var(--red);
	font-weight: 500;
	font-size: 1.4em;
	
}

.progressBox i{
	color: #fff;
	padding: 20px 18px;
	border-radius: var(--borderRadius);
}

.grammar i{
	background-color: var(--purple);
}

.dictionary i{
	background-color: var(--red);
}

.reading i{
	background-color: var(--orange);
}